[Desktop Entry]
Version=1.0
Type=Link
Name=a.html
Comment=
Icon=user-bookmarks
URL=https://github.com/Cristina117/Galeria-de-.../blob/main/html/a.html
