[Desktop Entry]
Version=1.0
Type=Link
Name=c.html
Comment=
Icon=user-bookmarks
URL=https://github.com/Cristina117/Galeria-de-.../blob/main/html/c.html
